
.mill-circle-chart {
    display: flex;
    align-items: center;
}
.mill-circle-chart .mill-title-box {
    margin-left: 15px;
}

.mill-circle-chart .circleChart_text{
    font-size: var(--font-size-h5) !important;
    font-weight: var( --font-weight-h5)!important;
    color:var(--global-font-title);
    font-family: var(--global-font-line-height)!important;
}
.mill-circle-chart .mill-subtitle:before{
    display: none;
}
.mill-circle-chart .mill-subtitle{
    color: var(--color-theme-secondary);
}
.mill-circle-chart .mill-subtitle{
    margin-bottom: 0;
    font-size: var(--font-size-normal);
}

