

.mill-btn-small{padding: 10px 20px;}
.mill-btn-medium{padding: 15px 30px;}
.mill-btn-large{padding: 20px 40px;}
.mill-btn-extra-large{padding: 25px 50px;}
.mill-btn-round{border-radius: 30px !important;overflow: hidden;}
.mill-btn-semi-round{border-radius: 0 !important;overflow: hidden;}
.mill-btn-circle{border-radius: 50% !important; overflow: hidden;}
.mill-btn-outline{outline: 2px solid var(--mill-black) !important;}
.mill-btn-small span.text-btn{font-size: 14px !important;}
.mill-btn-medium span.text-btn{font-size: 16px !important;}
.mill-btn-large span.text-btn{font-size: 18px !important; }
.mill-btn-extra-large span.text-btn{font-size:  20px !important;}


.site.mill header .navbar-brand{
  margin-right:45px ;
}

button.owl-prev ,button.owl-next{
  text-align: inherit;
}
.mill-leftarrow ,.mill-rightarrow{
    width: 45px;
    height: 45px;
    background: var(--global-font-title);
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.mill-leftarrow svg,.mill-rightarrow svg{
  transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
} 
.owl-carousel.owl-loaded .owl-nav button.owl-prev ,.owl-carousel.owl-loaded .owl-nav button.owl-next{
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.owl-carousel.owl-loaded .owl-nav button.owl-prev{
  left: -60px;
}
.owl-carousel.owl-loaded .owl-nav button.owl-next{
  right: -60px;
}
.mill-leftarrow svg{
    position: absolute;
    left: 0px;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    top: 13px;
    z-index: 0;
    color: var(--color-theme-white);

}
.mill-rightarrow svg{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 20px;
  top: 13px;
  z-index: 0;
  color: var(--color-theme-white);
}

.mill-rightarrow:hover{
  background: var(--color-theme-secondary);
}
.mill-leftarrow:hover{
  background: var(--color-theme-secondary);
}
.iqonic-masonry-block .owl-nav {
  position: absolute;
  left: calc(100% - 65%);
  bottom: 15%;
}
.iqonic-masonry-block  .owl-carousel.owl-loaded .owl-nav button.owl-prev {
  left: -55px;
}
.iqonic-masonry-block .owl-carousel.owl-loaded .owl-nav button.owl-next {
  right: -55px;
}
.iqonic-masonry-block .owl-carousel.owl-loaded .owl-nav button.owl-prev, .iqonic-masonry-block .owl-carousel.owl-loaded .owl-nav button.owl-next {
  position: absolute;
  top: 10%;
  transform: translate(0, -10%);
}
.contact-form .cfield {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
}
.contact-form .mill-outerbox{
  padding: 30px;
}
.contact-form .cfield input ,.contact-form .cfield  textarea{
  float: inherit;  
}
.contact-form .cfield.mill-textarea{
 height: 150px;
}
.mill-button.btn-shadow{
  box-shadow: 0px 12px 20px 0 rgb(252 69 69 / 39%);
  transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; 
}
.mill-button.btn-shadow:hover{
  box-shadow: 0px 12px 20px 0 rgb(40 112 222 / 39%);
}

.mill-box-shadow, .mill-button:hover, .mill-has-shadow{
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.year-box{
  display: flex;
  align-items: center;

}
.year-box span{
  color: var(--color-theme-secondary);
  font-size: var(--font-size-h2);
  line-height: var(--font-line-height-h2);
  letter-spacing: var(--font-letter-spacing-h2);
  font-weight: var(--font-weight-h2);
  margin-right: 15px;
  }
.year-box .text-box{
  letter-spacing: var(--letter-spacing);
}


 /* Dots */
 .owl-carousel .owl-dots.disabled { display: none; }
 .owl-carousel .owl-dots { margin-top: 15px; position: relative; width: 100%; display: inline-block; text-indent: inherit; text-align: center; cursor: pointer; }
 .owl-carousel .owl-dots .owl-dot { box-shadow: none; outline: none; background: var(--color-theme-secondary); display: inline-block; border-radius: 0px; padding: 0; margin: 0px 3px; height: 10px; width: 10px; border: 1px solid var(--color-theme-secondary); transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; cursor: pointer; border-radius: var(--border-radius);}
 .owl-carousel .owl-dots .owl-dot span { display: none; }
 .owl-carousel .owl-dots .owl-dot:hover { background: var(--color-theme-primary); border: 1px solid var(--color-theme-primary); }
 .owl-carousel .owl-dots .owl-dot.active { background: var(--color-theme-primary); border: 1px solid var(--color-theme-primary); }
 .owl-carousel .owl-dots { position: relative; left: 0; bottom: 0; width: 100%; display: inline-block; line-height: normal; }
 .owl-carousel .owl-dots .owl-dot { background: transparent; border: 1px solid var(--color-theme-primary); }


 .mill-share{
   display: inline-block;
   position: relative;
   margin-bottom: 0;
 }

 footer .mill-share{
  margin-bottom: 30px;
 }
 .mill-share ul{
  padding: 0;
 }
 .mill-share li {
    color: var(--color-theme-black);
  }
 footer .mill-share ul{
  padding: 5px 10px;
  box-shadow: 8px 8px 24px rgb(148 148 148 / 16%);
 }
 
 .mill-share ul li a{
   color: var(--global-font-color);
   position: relative;
   text-transform: uppercase;
   width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    background: var(--color-theme-primary);
    color: var(--color-theme-white);
 }
 .mill-share ul li a:hover{
   background: var(--color-theme-secondary);
 }

 .mill-share a span {
  position: absolute;
  text-transform: capitalize;
  left: -40px;
  right: 0;
  top: -30px;
  display: block;
  opacity: 0;
  visibility: hidden;
  min-width: 96px;
  text-align: center;
  color: var(--color-theme-white);
  line-height: normal;
  padding: 5px 2px 5px;
  margin: 0 auto;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  background: #3a3a3a;
  background: var(--color-theme-primary);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
}
.mill-share a span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-color: var(--color-theme-primary) transparent transparent;
  border-left: 5px solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color-theme-primary);;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: 0 auto;
}

.mill-share a:hover span {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
}
footer .mill-share ul{
  box-shadow: none;
  padding: 0;
}

@keyframes bouncess {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-25px);
  }
}
@-webkit-keyframes bouncess {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-25px);
  }
}
.bounce-img img{
  -webkit-animation: bouncess 1s infinite alternate;
  
}
.mill-rotate-pattern
 {
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Case Study  single page*/

.case_study .mill-blog-box .mill-blog-image img{
  width: 100%;
}
.case_study .mill-blog-head .entry-title {
  text-align: center;
  margin-bottom: 40px;
}
  .col-xl-8 .case_study .mill-blog-head .entry-title{
  text-align: left;
}

.widget.widget_tag_cloud ul li a{
  border-right: 1px solid var(--global-font-color);
  background: transparent;
  padding: 2px 10px 2px 0;
  border-radius: 0px;
  color: var(--global-font-color);
}
.widget.widget_tag_cloud ul li:last-child a{
  border: none;
}
.widget.widget_tag_cloud ul li a:hover{
  color: var(--color-theme-secondary);
}
.widget_tag_cloud ul li{
  margin: 10px 5px 10px 0;
  border-bottom: none;

}
.center-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* side area css start*/
.elementor-widget-sidebar .mill-side-area-title {vertical-align: top;position: relative;text-transform: capitalize;padding-right: 14px;display: inline-block; margin-bottom: 15px;}

.elementor-widget-sidebar .mill-side-area-title::after {
    content: "";
    width: 6px;
    height: 7px;
    position: absolute;
    bottom: 5px;
    background: #ffd81c;
    background: var(--color-theme-secondary);
    right: 0;
}
.elementor-widget-sidebar .widget .mill-service-menu ul li{
    border-bottom: transparent;
    margin: 0;
    padding-bottom: 0;
}
.elementor-widget-sidebar .widget .mill-service-menu ul li a{
  border:1px solid var(--color-theme-primary-light);
  padding: 15px;
  color: var(--global-font-title);
  text-transform: capitalize;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin: 10px 0;
  position: relative;
  width: 100%;
}
.elementor-widget-sidebar .widget{
    padding: 30px;
}
.elementor-widget-sidebar .widget .mill-service-menu ul li a::after {
    font-family: Font Awesome\ 5 Free;
    position: absolute;
    font-size: 18px;
    color: var(--global-font-title);
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-weight: 900;
    content: '\f0da';
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.elementor-widget-sidebar .widget .mill-service-menu ul li a:hover::after, 
.elementor-widget-sidebar .widget .mill-service-menu ul li.current_page_item a::after,
.elementor-widget-sidebar .widget .mill-service-menu ul li:hover a{
     color: var(--color-theme-white);
}
.elementor-widget-sidebar .widget .mill-service-menu ul li a:hover, .elementor-widget-sidebar .widget .mill-service-menu ul li.current_page_item a{
    background: var(--color-theme-primary);
    color: var(--color-theme-white);
}
.elementor-widget-sidebar .widget.iq-working-days {
  background: var(--color-theme-primary);
  color: var(--color-theme-white);
  padding: 30px;
  position: relative;
}
.elementor-widget-sidebar .widget.iq-working-days .footer-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 2px;
  background: var(--color-theme-secondary);
  height: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}
.elementor-widget-sidebar .widget.iq-working-days .mill-side-area-title {
  margin-bottom: 15px;
  color: var(--color-theme-white);
  position: relative;
  padding-right: 15px;
  display: inline-block;
}
.elementor-widget-sidebar .widget.iq-working-days ul li {
  border-bottom: transparent;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.elementor-widget-sidebar .widget.iq-working-days ul li:last-child{
  margin-bottom:0;
}
.c-break-word .elementor-icon-box-description{word-break: break-word;}
/* side area css end*/

@media(max-width:1560px){
    
   .owl-carousel.owl-loaded .owl-nav button.owl-prev, .owl-carousel.owl-loaded .owl-nav button.owl-next {
      position: relative;
      top: inherit;
      transform: inherit;
      margin-top: 10px;
      text-align: initial;
  }
   .owl-carousel.owl-loaded .owl-nav button.owl-next{
      right: 0;
  }
   .owl-carousel.owl-loaded .owl-nav button.owl-prev{
      left: 0;
      margin-right: 30px;
  }
   .owl-nav{
      text-align: center;
  }
}
@media(max-width:1200px){
  .shap-main:before{display: none;}
 
}
@media(max-width:767px){
  .iqonic-masonry-block .owl-carousel.iqonic-grid .owl-item .iqonic-grid-item.s-60.col-md-6.col-12 {
    padding: 200px 0;
  }
  
}
@media(max-width:480px){
  .mill-outerbox ,.mill-inner-box{
    padding:15px;
  }
  .footer-mail button{
    margin-top: 30px;
    position: relative;
  }
  .footer-mail{
    text-align: center;
  }
  
}